html {
  scroll-behavior: smooth;
}
body {
  scroll-padding-top: 62px;
  @media (min-width: 1024px) {
    scroll-padding-top: 0px;
  }
}
html,
body {
  @apply font-sans font-light;
}
.navbar {
  @apply inline-flex gap-x-10 lg:gap-x-16 xl:gap-x-20;
  > li {
    > a {
      @apply inline-block border-t border-primary uppercase text-primary transition hover:text-primary-light hover:border-primary-light;
      padding-top: 8px;
      padding-bottom: 12px;
      &:hover {
        @apply border-t-2;
        padding-top: 7px;
      }
    }
    &.current-menu-item {
      > a {
        @apply border-t-2 font-bold;
        padding-top: 7px;
      }
    }
    &.menu-item-has-children {
      @apply relative;
      &:hover {
        .sub-menu {
          @apply h-auto opacity-100 block;
        }
      }
    }
    ul {
      @apply hidden h-0 absolute bg-white shadow-md z-50 opacity-0 transition duration-300 ease-out;
      > li {
        @apply border-b border-gray-200;
        &:last-child {
          @apply border-0;
        }
        > a {
          @apply block bg-white pr-4 pl-3 py-3 whitespace-nowrap border-l-4 border-transparent transition hover:border-primary-light hover:bg-gray-100;
        }
        &.current-menu-item {
          > a {
            @apply border-primary-light bg-gray-100;
          }
        }
      }
    }
  }
}
.navbar-link {
  @apply inline-block border-t border-primary uppercase text-primary transition hover:text-primary-light hover:border-primary-light;
  padding-top: 8px;
  padding-bottom: 12px;
  &:hover {
    @apply border-t-2;
    padding-top: 7px;
  }
  &.active {
    @apply border-t-2 font-bold;
    padding-top: 7px;
  }
}
.navbar-dropdown {
  > li {
    @apply relative;
    &:hover {
      .navbar-submenu {
        @apply h-auto opacity-100 block;
      }
    }
  }
  .navbar-submenu {
    @apply hidden h-0 absolute bg-white shadow-md z-50 opacity-0 transition duration-300 ease-out;
    > li {
      @apply border-b border-gray-200;
      &:last-child {
        @apply border-0;
      }
      .navbar-submenu-link {
        @apply block bg-white pr-4 pl-3 py-3 whitespace-nowrap border-l-4 border-transparent transition hover:border-primary-light hover:bg-gray-100;
        &.active {
          @apply border-primary-light bg-gray-100;
        }
      }
    }
  }
}
.mobilenavbar {
  @apply bg-transparent transition ease-out duration-1000;
  .menu-icon {
    @apply fill-current text-primary transition duration-300;
  }
  .navbar-logo {
    @apply fill-current text-primary transition duration-300;
    width: 24px;
    height: 30px;
  }
  .navbar-title {
    @apply text-primary transition duration-300;
  }
  &.scroll {
    @apply bg-primary;
    .menu-icon,
    .navbar-logo,
    .navbar-title {
      @apply text-white;
    }
  }
}
.mobilemenu {
  @apply fixed w-64 h-full bg-primary text-white z-50 shadow-xl transform -translate-x-full transition duration-500 ease-out lg:hidden;
  &.open {
    @apply transform translate-x-0;
  }
}
#menu-mobile-menu {
  @apply text-lg;
  a {
    @apply inline-block uppercase py-2;
  }
}
.overlay {
  @apply fixed w-full h-full opacity-0 bg-black bg-opacity-50 transition duration-500 ease-out lg:hidden;
  z-index: -1;
  &.open {
    @apply opacity-100 z-40;
  }
}
