.page-homepage {
  .hero-container {
    @apply relative w-full flex flex-col justify-center items-center bg-primary text-white;
    min-height: calc(100vh - 72px);
    @media (min-width: 1400px) {
      min-height: calc(100vh - 96px);
    }
    &:after {
      content: '';
      position: absolute;
      width: 25%;
      height: 100%;
      background: white;
      top: 0;
      right: 0;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
  }
  .hero-text {
    @apply text-2xl text-center lg:text-3xl;
  }
}
.page-about {
  .hero-container {
    @apply relative w-full flex flex-col justify-center items-center bg-primary text-white;
    min-height: calc(100vh - 72px);
    @media (min-width: 1400px) {
      min-height: calc(100vh - 96px);
    }
  }
  .hero-text {
    @apply max-w-5xl px-4 text-left leading-relaxed text-2xl xl:text-3xl xl:leading-relaxed;
  }
}

.page-vision-mission {
  .hero-container {
    @apply relative w-full flex flex-col bg-white text-black;
    background-image: url('../images/desktop/vision_mission-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 90%;
    min-height: calc(100vh - 72px);
    @media (min-width: 1400px) {
      min-height: calc(100vh - 96px);
    }
  }
  .hero-inner {
    @apply px-8 max-w-7xl mx-auto;
  }
  .hero-text {
    @apply pt-16 text-2xl text-left leading-relaxed w-2/3 xl:pt-16 2xl:pt-20;
  }
}

.page-services {
  .hero-container {
    @apply relative w-full flex flex-col bg-primary text-white;
    min-height: calc(100vh - 72px);
    @media (min-width: 1400px) {
      min-height: calc(100vh - 96px);
    }
  }
}
.service-link {
  @apply block relative pl-4 ml-3 transition duration-500 ease-out transform-gpu lg:ml-0 lg:hover:scale-105;
  .service-num {
    @apply absolute -top-6 -left-3 bottom-0;
    .service-num-border {
      @apply border-l border-white border-opacity-50 h-full absolute top-0 left-3 z-10;
    }
    .service-num-number {
      @apply relative inline-block w-6 h-6 leading-6 text-center border border-white border-opacity-50 rounded-full bg-primary z-20;
    }
  }
  .service-img {
    @apply relative z-30 mb-2;
    &.service-img-1 {
      max-width: 150px;
    }
    &.service-img-2 {
      max-width: 150px;
      padding-left: 1px;
      @apply -ml-4;
    }
    &.service-img-3 {
      max-width: 200px;
      @apply -ml-4;
    }
    &.service-img-4 {
      max-width: 200px;
    }
    &.service-img-5 {
      max-width: 200px;
    }
    &.service-img-6 {
      max-width: 120px;
    }
    @media (min-width: 1536px) {
      &.service-img-1 {
        max-width: 200px;
      }
      &.service-img-2 {
        max-width: 200px;
      }
      &.service-img-3 {
        max-width: 250px;
      }
      &.service-img-4 {
        max-width: 250px;
      }
      &.service-img-5 {
        max-width: 250px;
      }
      &.service-img-6 {
        max-width: 160px;
      }
    }
  }
  .service-title {
    @apply text-base uppercase mb-2 leading-tight 2xl:text-lg 2xl:leading-tight 3xl:text-xl 3xl:leading-tight;
  }
  .service-description {
    @apply text-xs 2xl:text-sm;
  }
}

.list-infinite {
  li {
    @apply relative pl-7 mb-1;
    &:before {
      content: '∞';
      font-size: 18px;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 24px;
    }
  }
}
.logo-partner {
  @apply flex items-center justify-center;
}

.page-end-point {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 72px);
    background-image: url('../images/desktop/service-1-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @media (min-width: 1400px) {
      height: calc(100vh - 96px);
    }
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-10 left-4 w-full max-w-xs text-3xl xl:top-16 xl:left-8;
  }
  .hero-text {
    @apply absolute right-8 top-16 max-w-xs text-base xl:right-8 xl:top-16 xl:max-w-30 2xl:text-lg 2xl:max-w-md 3xl:text-xl 3xl:top-24 3xl:right-4;
    p {
      @apply mb-4;
    }
    ul li {
      @apply relative pl-7 mb-1;
      &:before {
        content: '∞';
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1.5;
      }
    }
  }
  .hero-logos {
    @apply absolute right-4 bottom-8 max-w-xs xl:right-8 xl:max-w-sm 3xl:max-w-md 3xl:bottom-16 3xl:right-4;
    .hero-logos-grid {
      @apply grid grid-cols-3 gap-x-12 gap-y-8 xl:gap-x-16;
    }
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-data-center-infrastructure {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 72px);
    background-image: url('../images/desktop/service-2-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @media (min-width: 1400px) {
      height: calc(100vh - 96px);
    }
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-10 left-4 w-full max-w-xs text-3xl xl:max-w-lg xl:top-16 xl:left-8;
  }
  .hero-text {
    @apply absolute right-4 top-8 max-w-md text-base xl:max-w-lg xl:top-8 xl:right-6 2xl:top-16 3xl:text-lg 3xl:right-8;
    p {
      @apply mb-3;
      @media (min-width: 1536px) {
        @apply mb-4;
      }
    }
    ul {
      @apply mb-4;
      li {
        @apply relative pl-7 mb-1;
        &:before {
          content: '∞';
          font-size: 16px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1.5;
          @media (min-width: 1536px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .hero-logos {
    @apply absolute max-w-md right-4 bottom-6 xl:max-w-xl xl:right-10 xl:bottom-4 3xl:max-w-lg 3xl:right-8 3xl:bottom-8;
    .hero-logos-grid {
      @apply grid grid-cols-4 gap-x-10 gap-y-5 xl:gap-x-16 xl:gap-y-4 3xl:gap-x-12 3xl:gap-y-8;
    }
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-availability-data-protection {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 72px);
    background-image: url('../images/desktop/service-3-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @media (min-width: 1400px) {
      height: calc(100vh - 96px);
    }
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-10 left-4 w-full max-w-xs text-3xl xl:max-w-lg xl:top-16 xl:left-8;
  }
  .hero-text {
    @apply absolute right-4 top-8 text-base xl:max-w-lg xl:top-10 xl:right-6 2xl:top-16 3xl:text-lg 3xl:right-8;
    max-width: 18rem;
    @media (min-width: 1280px) {
      max-width: 25rem;
    }
    @media (min-width: 1536px) {
      max-width: 22rem;
    }
    p {
      @apply mb-3;
      @media (min-width: 1536px) {
        @apply mb-4;
      }
    }
    ul {
      @apply mb-4;
      li {
        @apply relative pl-7 mb-1;
        &:before {
          content: '∞';
          font-size: 16px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1.5;
          @media (min-width: 1536px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .hero-logos {
    @apply absolute right-4 bottom-12 max-w-xs xl:max-w-sm xl:right-10 xl:bottom-10 3xl:right-6 3xl:bottom-16;
    .hero-logos-grid {
      @apply grid grid-cols-2 gap-x-12 gap-y-8 xl:gap-x-16 xl:gap-y-4 2xl:gap-y-8 3xl:gap-x-12 3xl:gap-y-8;
    }
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-network {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 72px);
    background-image: url('../images/desktop/service-4-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @media (min-width: 1400px) {
      height: calc(100vh - 96px);
    }
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-10 left-4 w-full max-w-xs text-3xl xl:max-w-lg xl:top-16 xl:left-8;
  }
  .hero-text {
    @apply absolute right-6 top-10 max-w-sm text-base xl:max-w-lg xl:top-10 xl:right-6 2xl:top-16 3xl:text-lg 3xl:right-8;
    p {
      @apply mb-4;
    }
    ul {
      @apply mb-4;
      li {
        @apply relative pl-7 mb-1;
        &:before {
          content: '∞';
          font-size: 16px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1.5;
          @media (min-width: 1536px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .hero-text-img {
    max-width: 240px;
    @apply mt-8 flex;
    @media (min-width: 1400px) {
      max-width: 280px;
    }
    @media (min-width: 1536px) {
      max-width: 300px;
      @apply mt-10;
    }
  }
  .hero-logos {
    @apply absolute right-4 bottom-8 max-w-xl xl:right-10 2xl:bottom-10 xl:max-w-2xl 3xl:right-6 3xl:bottom-16;
    .hero-logos-grid {
      @apply grid grid-cols-4 gap-x-12 gap-y-8 xl:gap-x-16 xl:gap-y-4 2xl:gap-y-8;
    }
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-cyber-security {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 72px);
    background-image: url('../images/desktop/service-5-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @media (min-width: 1400px) {
      height: calc(100vh - 96px);
    }
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-10 left-4 w-full max-w-xs text-3xl xl:max-w-lg xl:top-12 xl:left-8 2xl:top-16;
  }
  .hero-text {
    @apply absolute right-6 top-10 max-w-sm text-base xl:max-w-lg xl:top-10 xl:right-6 2xl:max-w-lg 2xl:top-16 3xl:text-lg 3xl:right-8;
    p {
      @apply mb-4;
    }
    ul {
      @apply mb-4;
      li {
        @apply relative pl-7 mb-1;
        &:before {
          content: '∞';
          font-size: 16px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1.5;
          @media (min-width: 1536px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .hero-logos {
    @apply absolute right-4 bottom-8 max-w-3xl xl:right-10 2xl:bottom-10 3xl:max-w-4xl 3xl:right-6 3xl:bottom-8;
    .hero-logos-grid {
      @apply grid grid-cols-5 gap-x-12 gap-y-6 xl:gap-x-16 xl:gap-y-6 2xl:gap-y-8;
    }
    .logo-partner {
      @apply flex items-center justify-center h-9;
      img {
        max-height: 100%;
        width: auto;
      }
    }
  }
}

.page-other {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 72px);
    background-image: url('../images/desktop/service-6-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @media (min-width: 1400px) {
      height: calc(100vh - 96px);
    }
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-10 left-4 w-full max-w-xs text-3xl xl:max-w-lg xl:top-12 xl:left-8 2xl:top-16;
  }
  .hero-text {
    @apply absolute right-8 top-12 max-w-sm text-base xl:max-w-lg xl:top-10 xl:right-6 2xl:max-w-lg 2xl:top-16 2xl:text-lg 3xl:right-8;
    p {
      @apply mb-4;
    }
    ul {
      @apply mb-4;
      li {
        @apply relative pl-7 mb-1;
        &:before {
          content: '∞';
          font-size: 16px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1.5;
          @media (min-width: 1400px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .hero-logos {
    @apply absolute right-8 bottom-8 max-w-md xl:right-10 2xl:bottom-10;
    .hero-logos-grid {
      @apply grid grid-cols-3 gap-x-20;
    }
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-partners {
  .logo-partner {
    @apply flex items-center justify-center;
  }
}

.page-contact {
  .hero-container {
    @apply relative w-full flex flex-col justify-center items-center bg-primary text-white;
    min-height: calc(100vh - 72px);
    @media (min-width: 1400px) {
      min-height: calc(100vh - 96px);
    }
  }
  .hero-inner {
    @apply max-w-7xl w-full px-8 mx-auto;
  }
  .hero-text {
    @apply justify-start text-left leading-relaxed text-2xl xl:text-3xl xl:leading-relaxed;
  }
  .hero-text p {
    @apply mb-8;
  }
  a {
    @apply hover:underline;
  }
}

.mobile-home-hero {
  @apply w-full;
  height: 100vh;
  background-color: #ededed;
  background-image: url('../images/mobile/mobile-home-hero.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.section-services {
  ul {
    li {
      @apply relative pl-7 mb-1;
      &:before {
        content: '∞';
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 24px;
      }
    }
  }
}

.section-services,
#partners {
  .logo-partner {
    @apply flex items-center justify-center h-9;
    img {
      max-height: 100%;
      width: auto;
    }
  }
}
